body {
  background-color: #1f2122;
  padding: 0rem 1rem;
}

/* === Util === */
.my-bg-1 {
  background-color: #666 !important;
}

.my-bg-2 {
  background-color: #27292a !important;
}

.my-bg-3 {
  background-color: #1f2122;
}

.my-rounded-15 {
  border-radius: 1.5rem;
}

.my-rounded-1 {
  border-radius: 1rem;
}

.my-rounded-2 {
  border-radius: 2rem;
}

.my-color-pink {
  color: #e75e8d;
}

.my-bg-pink {
  background-color: #e75e8d;
}

/* === NAVIGATION BAR === */

.my-nav a {
  color: #666;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.9rem;
  transition: color 0.3s ease; /* animation: fade*/
  text-decoration: none; /* no underline */
}

.my-nav li:not(:last-child) {
  margin: auto 0px; /* align center */
}

.my-nav a:hover {
  color: #e75e8d;
}

.my-active {
  color: #e75e8d !important;
}
/* My search */
.my-search {
  position: relative;
}

.my-search input {
  background-color: #27292a;
  height: 2.5rem;
  width: 12rem;
  border: none;
  padding-left: 2.5rem;
  caret-color: #666;
  font-size: 0.9rem;
}

.my-search i {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translate(0%, -50%);
}

/* Profile */
.my-profile:hover {
  background-color: #e75e8d !important;
}

.my-profile:hover a {
  color: white;
}

/* === BANNER === */
.my-banner {
  background-image: url(./images/banner-bg.jpg);
  background-position: center center;
  background-size: cover;
  /* min-height: 380px; */
  border-radius: 1.5rem;
  /* margin: 1rem 1rem; */
  padding: 4rem;
}

.my-banner-text h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.my-browse-button {
  transform: scale(1);
}

@media (max-width: 576px) {
  .my-browse-button {
    transform: scale(0.8) !important;
  }

  .my-banner-text h1 {
    font-size: 2rem;
    font-weight: 700;
  }
}

/* === POPULAR GAMES === */
.my-popular {
  border-radius: 1.5rem;
}

.my-popular-header h3 {
  font-size: 2rem;
  font-weight: 700;
}

@media (max-width: 576px) {
  .my-popular-header h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.my-popular-card {
  /* margin: 10px; */
  margin-bottom: 1.2rem;
  padding: 1rem;
  padding-bottom: 0rem;
  background-color: #27292a;
  border-radius: 1rem;
}

.my-popular-card img {
  width: 100%;
  /* height: 110px; */
  border-radius: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .my-popular-card img {
    height: 192px;
  }
}

@media (min-width: 992px) {
  .my-popular-card img {
    height: 110px;
  }
}

@media (min-width: 1200px) {
  .my-popular-card img {
    height: 128px;
  }
}

.my-popular-card li {
  list-style-type: none;
  text-align: right;
}

.my-popular-card .fa-star {
  color: yellow;
}
.my-popular-card .fa-download {
  color: darkorchid;
}

.my-popular-card span {
  color: #666;
  display: inline-block;
  margin-top: 5px;
}
